.p-menubar .company-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #19BEE9;
  margin-right: 20px;
  cursor: pointer;
}

.p-menubar .p-menubar-start img {
  vertical-align: middle;
}

.p-menubar .p-inputgroup {
  display: flex;
  align-items: center;
}

.p-menubar .p-inputgroup .p-button {
  margin-left: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.galleria-container {
  flex: 1;
}

.product-info-container {
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-info-container h2,
.product-info-container h3,
.product-info-container .p-field,
.product-info-container button {
  margin-bottom: 20px;
}

.custom-input-number .p-inputtext {
  font-size: 25px;
  width: 200px;
  height: 57px;
}

.galleria-container {
  max-width: 700px;
  overflow: hidden;
}

.custom-gallery-image {
  width: 100%; 
  height: 500px; 
  object-fit: contain; 
}

.custom-thumbnail-image {
  width: 125px;
  height: 125px;
  object-fit: contain;
}